@charset "UTF-8";

// FONT
$rootFontsize : 16;
$defaultColor : #333;
$pointColor : #1565c0;
$defFontsize : 13px;
$defLineHeight : 1.385em;
$defFontColor : #666;
$fontfamily: '돋움', dotum, AppleGothic, NanumGothic, gulim, Arial, sans-serif !default;
$placeholder : #bbb;
$placeholder-bg:#fff;
$selectionBg :#f4b3bc;

// media
$mobileSize : 280px;
$tabletSize : 768px;
$pcSize : 1100px;

// 공통 좌우 패딩
$commSidePadding : 10px;

